@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.transition-enter {
  opacity: 0.01;
  transform: translate(0, -10px) scale(1.2);
  transition: all 300ms ease-in;
}

.transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in;
}

.transition-exit {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in;
}

.transition-exit-active {
  opacity: 0.01;
  transform: translate(0, 10px) scale(0.8);
  transition: all 300ms ease-in;
}

.d-flex {
  display: flex;
}

.fullWidth {
  width: 100%;
}

.flexDirectionColumn {
  flex-direction: column;
}

.baseLine {
  align-items: baseline;
}

.felxCenter {
  justify-content: center;
  align-items: center;
}

.text {
  color: #5d199d;
  font-size: 0.86rem;
}

.cardPrent {
  background: #f3f5f7;
  width: 290px;
  padding: 15px 10px;
  row-gap: 15px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 181px;
    width: 224px;
    border: 1px solid #80808026;
    border-radius: 50%;
    top: -70%;
    right: -46%;
  }
}

.lineNumber {
  color: #40106c;
}

.iconLine {


  .iconDiv {
    height: 40px;
    width: 40px;
    background: white;
    margin-inline-end: 0.5rem;
    box-shadow: 0px 5px 14px -6px grey;
    align-self: center;
    border-radius: 6px;

    img {
      width: 25px;
      height: 25px;
      display: block;
    }
  }

  .BarRow {
    align-items: baseline;
    column-gap: 0.5rem;

    .coloredLine {
      width: 130px;
      height: 4px;
      background: #ebeff5;
      position: relative;
      border-radius: 3px;

      &::before,
      &::after {
        position: absolute;
        height: 6px;
        display: block;
        content: "";
        top: 50%;
        border-radius: 6px;
        transform: translateY(-50%);
      }

      &::before {
        width: 40%;
        background: #7171df;
      }

      &::after {
        left: 44%;
        background: #ff00c8;
        width: 16%;

      }
    }
  }


}

.barsLine {
  width: 75%;
  background: white;
  box-shadow: 0px 5px 14px -6px grey;
  border-radius: 6px;
  padding: 15px 23px;
  column-gap: 1rem;


  .barsDiv {
    height: 55px;
    align-self: center;
    column-gap: 5px;
    padding-top: 15px;

    .singleBar {
      width: 4px;
      display: flex;
      height: 95%;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        border-radius: 6px;

      }

      &::before {
        bottom: 0;
        background: #7171df;
      }

      &::after {
        top: -5%;
        background: #ff00c8;


      }
    }
  }

  .greenRate {
    color: #00dd11;
    font-size: 0.8rem;
    margin-inline-start: 6px;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid;
}